body{
    background-color: rgb(22, 21, 21);
}

#M{
    color: orange;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 100px;
    margin-top: 60px;
}

#section{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    margin-left: 680px;
    margin-top: -10px;
}

li{
    display: inline;
    margin-left: 30px;
}

#AM{
    text-decoration: none;
    color: white;
}

#CM{
    text-decoration: none;
    color: white;
}

#C{
    text-decoration: none;
    color: white;
}

#L{
    border: solid 0px ;
    border-radius: 30px;
    background-image: linear-gradient(to right, orange , crimson);
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 17px;
    padding-right: 17px;
    text-decoration: none;
    color: white;
}

#SU{
    border: solid 2px crimson;
    border-radius: 28px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: white;
}

#box{
    width: 27%;
    height: 60px;
}

#T1{
    margin-top: -80px;
    margin-left: 58px;
}

#Table{
    margin-top: 100px;
    margin-left: 200px;
}

#c1{
    font-size: 25px;
    font-weight: 700;
    margin-top: 100px;
    margin-left: 260px;
}

#table1{
    background-color: rgb(149, 157, 163);
    border-color: rgb(22, 21, 21);
    width: 298px;
    height: 350px;
    margin-left: 200px;
    margin-top: 1px;
    border-collapse: separate;
    border-spacing: 0px;
    text-align: center;
}


#Table{
    margin-top: 100px;
    margin-left: 200px;
}

#table2{
    background-color: rgb(70, 65, 65);
    width: 298px;
    height: 350px;
    margin-left: 200px;
    margin-top: 0px;
    border-collapse: separate;
    border-spacing: 0 15px;
    text-align: center;
}

#Calc2{
    float: right;
    margin-right: 250px;
    margin-top: -565px;
}

#T2{
    margin-top: -80px;
}

#box2{
    width: 97.7%;
    height: 60px;
}

#c2{
    font-size: 25px;
    font-weight: 700;
    margin-top: 100px;
    margin-left: 210px;
}